.stickyMask {
  mask-image: url("/Mask/mask.svg");
  mask-position: center center;
  /* mask-position: 52.35% center; */
  mask-repeat: no-repeat;
  mask-size: 0%;
}

.levitate {
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
